body {
  padding:  0;
  margin: 0;
}
#page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.vcontainer {
  display: flex;
  flex-flow: column;
  position: relative;
}
.hcontainer {
  display: flex;
  flex-flow: row;
  position: relative;
}
#header {
  background:  #330066;
  min-height: 300px;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
#header h1 {
  font-size: 72pt;
  color:  #fff;
  font-family: Arial;
  margin: 0;
  padding: 30px 0;
}
#content-box {
  flex: 4;
}
#content-box img {
  max-width: 100%;
  max-height: 100%;
}
#sidebar {
  flex: 1;
  background: #ddd;
  padding: 100px;
}
